
<div class="bg-indigo-950 h-20 fixed   ">
    <div class= "flex-row pb-10 top-0 left-0 fixed h-20 bg-indigo-950 w-full px-8">
        <img src="lib.jpg" alt="librarylogo" class="pt-3 pl-1 rounded-lg w-14 h-30 float-left rounded-sm animate-slide-left-right">
        <!-- <button type="button" class="float-right mt-5  focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900 animate-slide-left-right " (click)="member()" >Member</button> -->
        <button type="button" class="float-right mt-5 focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 mr-3 dark:hover:bg-purple-700 dark:focus:ring-purple-900 animate-slide-left-right" (click)="admin()">Admin</button>
        
        <h1 class="text-center text-3xl pt-5 text-white font-mono ">Welcome to Library Management</h1>
        
    </div>
</div>

<div class="relative overscroll-auto focus:overscroll-contain ">

  <img src="lib1.jpg" alt="library" class="w-full opacity-75 mt-20 overscroll-x-none">
</div>

        
       
  

      <!-- Cards -->
      <div class="flex items-center justify-center ">
        <h1 class="flex items-center justify-center text-3xl font-mono bg-indigo-950 rounded-lg px-8 mb-2 w-full h-10 text-white mt-6 ">Services</h1>
      </div>
      

      <div class="flex justify-between mt-6  px-8">
        <div class=" max-w-sm rounded overflow-hidden shadow-lg ">
        <img class="w-full rounded-lg " src="lib2.jpg" alt="Sunset in the mountains">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Silent Reading</div>
          <p class="text-gray-700 text-base">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Extreme Ownership</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Psycology of money</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Haidi</span>
        </div>
      </div>
      <div class=" max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full rounded-lg" src="lib9.avif" alt="Sunset in the mountains">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Categorized book collections</div>
          <p class="text-gray-700 text-base">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley 
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Extreme Ownership</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Psycology of Money</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Haidi</span>
        </div>
      </div>
    
      <div class=" max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full rounded-lg" src="lib5.jpg" alt="Sunset in the mountains">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">24X7 Service</div>
          <p class="text-gray-700 text-base">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.           </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Extreme Ownership</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Psycology of Money</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Haidi</span>
        </div>
      </div>
      </div>

      <div class="flex items-center justify-center">
        <h1 class="flex items-center justify-center text-3xl font-mono bg-indigo-950 rounded-md mb-2 w-full px-8 h-15 text-white mt-6">About Us</h1>
      </div>
 
      <div class="flex items-center justify-between px-8">
       
        <p class="text-2xl mb-10 ml-10 mt-10 font-Playwrite">"Welcome to our library, a community hub dedicated to fostering a love for reading, lifelong learning, and access to knowledge for all ages."</p>
        <img class="w-full rounded-lg mt-10 " src="libBuilding.jpg" alt="Sunset in the mountains">
       
     
      </div>
      
      

<!--GALLERY-->
      <div class="flex items-center justify-center">
        <h1 class="flex items-center justify-center text-3xl font-mono bg-indigo-950  rounded-md mb-2 w-full h-10 text-white mt-6 ">Gallery</h1>
      </div>

      <div class="flex flex-wrap justify-between mt-10 px-8">
        <img src="lib7.webp" alt="lib1" class="w-full sm:w-72 h-auto mb-4 rounded-lg">
        <img src="lib8.jpg" alt="lib1" class="w-full sm:w-72 h-auto mb-4 rounded-lg">
        <img src="lib9.avif" alt="lib1" class="w-full sm:w-72 h-auto mb-4 rounded-lg">
        <img src="lib5.jpg" alt="lib1" class="w-full h-auto sm:w-72 mb-4 rounded-lg">
    </div>

   
      


<!--Videos-->
   

    <div class="flex items-center justify-center">
      <h1 class="flex items-center justify-center text-3xl font-mono bg-indigo-950 rounded-md mb-2 w-full h-10 text-white mt-6 ">Videos</h1>
    </div>
  
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-10 px-8">
      <div class="relative w-full" style="padding-top: 56.25%;">
          <iframe 
              class="absolute top-0 left-0 w-full h-full rounded-lg" 
              src="https://www.youtube.com/embed/Gp4Y4Al4s00" 
              title="YouTube video player" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen>
          </iframe>
      </div>
      <div class="relative w-full" style="padding-top: 56.25%;">
          <iframe 
              class="absolute top-0 left-0 w-full h-full rounded-lg" 
              src="https://www.youtube.com/embed/nEtK0c8cKUc" 
              title="YouTube video player" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen>
          </iframe>
      </div>
  </div>
  
 

  
<div class="flex items-center justify-center">
  <h1 class="flex items-center justify-center text-3xl font-mono bg-indigo-950 rounded-md mb-2 w-full h-15 text-white mt-6 ">About our Office</h1>
</div> 
     
<!-- <div class="flex items-center justify-between"> -->
  <div class="flex mt-10 mb-10 justify-center bg-indigo-100 px-8">
    <div class="flex flex-row items-center px-8">
      <img src="location.png" alt="location" class="w-10">
      <div class="ml-2">
        <p>No 14A Buddhar Street</p>
        <p>Guduvancherry</p>
        <p>Chennai 603202</p>
      </div>
      
      <img src="mail.png" alt="image 1" class="w-10 ">
      <p class="ml-2">Email: exampleatexample.com</p>
      
      <img src="call.png" alt="image 2" class="w-10">
      <p class="ml-2">91+8888888888</p>
      
     
    </div>
  </div>
  





